In [1]:
import pandas as pd
import requests
import os

In [2]:
# Import Rotten Tomatoes bestofrt tsv file
df = pd.read_csv('bestofrt.tsv',sep='\t')

In [3]:
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [4]:
# record count
df.count()

ranking                     100
critic_score                100
title                       100
number_of_critic_ratings    100
dtype: int64

In [5]:
url = 'https://www.rottentomatoes.com/m/et_the_extraterrestrial'
response = requests.get(url)
print(response.status_code)

200

In [6]:
# # save response content html to file

# with open('https://www.rottentomatoes.com/m/et_the_extraterrestrial',mode = 'wb')as file:
#     file.write(response.content)

In [7]:
from bs4 import BeautifulSoup

In [8]:
soup = BeautifulSoup(response.content,'lxml')

In [9]:
os.getcwd()

'C:\\Users\\JC\\iCloudDrive\\portfolio\\movie'

In [10]:
# use static file handling instead, passing path to html file into file handler & bs constructor
with open('rt_html\et_the_extraterrestrial.html')as file:
    soup = BeautifulSoup(file,'lxml')

In [11]:
# find page title
soup.find('title')

In [12]:
# find movie title, return tag children list
soup.find('title').contents

['E.T. The Extra-Terrestrial\xa0(1982) - Rotten Tomatoes']

In [13]:
# find movie title content str
soup.find('title').contents[0]

'E.T. The Extra-Terrestrial\xa0(1982) - Rotten Tomatoes'

In [14]:
# find movie title content str with slicing
x = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

# remove nbsp
x= x.replace(u'\xa0', u' ')
print(x)

E.T. The Extra-Terrestrial (1982)

In [15]:
# Creates an empty list, df_list, to which dictionaries will be appended
df_list = []

In [16]:
os.listdir('rt_html')

['1000013-12_angry_men.html',
 '1000121-39_steps.html',
 '1000355-adventures_of_robin_hood.html',
 '1000626-all_about_eve.html',
 '1000642-all_quiet_on_the_western_front.html',
 '1003707-casablanca.html',
 '1007818-frankenstein.html',
 '1011615-king_kong.html',
 '1012007-laura.html',
 '1012928-m.html',
 '1013139-maltese_falcon.html',
 '1013775-metropolis.html',
 '1017289-rear_window.html',
 '1017293-rebecca.html',
 '1020333-streetcar_named_desire.html',
 '1021749-touch_of_evil.html',
 '1046060-high_noon.html',
 '1048445-snow_white_and_the_seven_dwarfs.html',
 '12_years_a_slave.html',
 '400_blows.html',
 'alien.html',
 'apocalypse_now.html',
 'argo_2012.html',
 'army_of_shadows.html',
 'arrival_2016.html',
 'baby_driver.html',
 'battleship_potemkin.html',
 'beatles_a_hard_days_night.html',
 'bicycle_thieves.html',
 'boyhood.html',
 'bride_of_frankenstein.html',
 'brooklyn.html',
 'citizen_kane.html',
 'dr_strangelove.html',
 'dunkirk_2017.html',
 'et_the_extraterrestrial.html',
 'finding_nemo.html',
 'get_out.html',
 'godfather.html',
 'godfather_part_ii.html',
 'gone_with_the_wind.html',
 'grapes_of_wrath.html',
 'gravity_2013.html',
 'harry_potter_and_the_deathly_hallows_part_2_2011.html',
 'hell_or_high_water.html',
 'inside_out_2015.html',
 'it_happened_one_night.html',
 'jaws.html',
 'last_picture_show.html',
 'la_confidential.html',
 'la_grande_illusion.html',
 'la_la_land.html',
 'logan_2017.html',
 'mad_max_fury_road.html',
 'manchester_by_the_sea.html',
 'man_on_wire.html',
 'modern_times.html',
 'moonlight_2016.html',
 'night_of_the_hunter.html',
 'north-by-northwest.html',
 'nosferatu.html',
 'on_the_waterfront.html',
 'open_city.html',
 'philadelphia_story.html',
 'pinocchio_1940.html',
 'psycho.html',
 'rashomon.html',
 'repulsion.html',
 'roman_holiday.html',
 'rosemarys_baby.html',
 'selma.html',
 'seven_samurai_1956.html',
 'singin_in_the_rain.html',
 'skyfall.html',
 'spotlight_2015.html',
 'star_trek_11.html',
 'star_wars_episode_vii_the_force_awakens.html',
 'sunset_boulevard.html',
 'taxi_driver.html',
 'the_babadook.html',
 'the_battle_of_algiers.html',
 'the_big_sick.html',
 'the_cabinet_of_dr_caligari.html',
 'the_conformist.html',
 'the_dark_knight.html',
 'the_good_the_bad_and_the_ugly.html',
 'the_jungle_book_2016.html',
 'the_third_man.html',
 'the_wizard_of_oz_1939.html',
 'the_wrestler.html',
 'tokyo_story.html',
 'toy_story.html',
 'toy_story_2.html',
 'toy_story_3.html',
 'treasure_of_the_sierra_madre.html',
 'up.html',
 'vertigo.html',
 'wages_of_fear.html',
 'wonder_woman_2017.html',
 'zootopia.html']

In [ ]:
# Loop through each movie's Rotten Tomatoes HTML file in rt_html folder
for i in os.listdir('rt_html'):
    with open(os.path.join('rt_html',i))as file:
        soup = BeautifulSoup(file,'lxml')
        
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div',class_='audience-score meter').find('span').contents[0][:-1]
        
        num_audience_rating = soup.find('div',class_='audience-info hidden-xs superPageFontColor')
        num_audience_rating = num_audience_rating.find_all('div')[1].contents[0].strip().replace(',','')
        
        # Append to list of dictionaries
        df_list.append({'title': title,\
                        'audience_score': int(audience_score),\
                        'number_of_audience_ratings': (num_audience_rating)})

In [ ]:
df = pd.DataFrame(df_list, columns = ['title', 'audience_score','num_audience_rating'])
df.head()

In [ ]:
df = pd.read_csv